/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of text areas.
 */

textarea {
    /*resize: vertical ;*/
}

/* ==========================================================================
   Author's custom fonts
   ========================================================================== */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.playwrite-ca-normal {
                   font-family: "Playwrite CA", cursive;
                   font-optical-sizing: auto;
                   font-weight: normal;
                   font-style: normal;
               }


.cutive-regular {
    font-family: "Cutive", serif;
    font-weight: 400;
    font-style: normal;
}


.gorditas-regular {
    font-family: "Gorditas", serif;
    font-weight: 400;
    font-style: normal;
}

.gorditas-bold {
    font-family: "Gorditas", serif;
    font-weight: 700;
    font-style: normal;
}

.mr-de-haviland-regular {
    font-family: "Mr De Haviland", cursive;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src:
        /*url('fonts/dune_rise/Dune_Rise.otf') format('svg'), !* Add other formats as needed *!*/
            url('../fonts/dune_rise/Dune_Rise.ttf') format('truetype'),
            url('../fonts/dune_rise/Dune_Rise.woff') format('woff');
    font-family: DuneRise; /* Name for the font */
    font-weight: normal; /* Specify the weight */
    font-style: normal; /* Specify the style */
}

@font-face {
    font-family: 'Linotype-Didot-Pro-Bold-Italic';
    src: url('../fonts/LinotypeDidot/DidotLTPro-BoldItalic.eot');
    src: local('Linotype Didot Pro Bold Italic'), local('DidotLTPro-BoldItalic'),
    url('../fonts/LinotypeDidot/DidotLTPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LinotypeDidot/DidotLTPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/LinotypeDidot/DidotLTPro-BoldItalic.woff') format('woff'),
    url('../fonts/LinotypeDidot/DidotLTPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Linotype-Didot-Pro-Italic';
    src: url('../fonts/LinotypeDidot/DidotLTPro-Italic.eot');
    src: local('Linotype Didot Pro Italic'), local('DidotLTPro-Italic'),
    url('../fonts/LinotypeDidot/DidotLTPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LinotypeDidot/DidotLTPro-Italic.woff2') format('woff2'),
    url('../fonts/LinotypeDidot/DidotLTPro-Italic.woff') format('woff'),
    url('../fonts/LinotypeDidot/DidotLTPro-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Linotype-Didot-Pro';
    src: url('../fonts/LinotypeDidot/DidotLTPro-Roman.eot');
    src: local('Linotype Didot Pro Roman'), local('DidotLTPro-Roman'),
    url('../fonts/LinotypeDidot/DidotLTPro-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LinotypeDidot/DidotLTPro-Roman.woff2') format('woff2'),
    url('../fonts/LinotypeDidot/DidotLTPro-Roman.woff') format('woff'),
    url('../fonts/LinotypeDidot/DidotLTPro-Roman.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Medium';
    src: url('../fonts/futura/Futura Medium.ttf') format('truetype'),
    url('../fonts/futura/Futura Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* ==========================================================================
   Author's custom configurations
   ========================================================================== */

.scrollable {
    scrollbar-gutter: stable;
    overflow: hidden;
}

.scrollable:hover {
    overflow: auto;
    scrollbar-gutter: stable;
    
    scroll-behavior: smooth;
}

.scrollable-vertical {
    scrollbar-gutter: stable;
    overflow-y: hidden;
    overflow-x: hidden;
}

.scrollable-vertical:hover {
    overflow-y: auto; /* Show scrollbar on hover */
    scrollbar-gutter: stable;
    
    scroll-behavior: smooth;
}

.scrollable-horizontal {
    scrollbar-gutter: stable;
    overflow-y: hidden;
    overflow-x: hidden;
}

.scrollable-horizontal:hover {
    overflow-x: auto; /* Show scrollbar on hover */

    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;

    color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-2);
    border-radius: 10px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
    --background-color: #F6F5F4;
    --background-color-2: #22283D;
    --main-color: #007FC6;
    --accent-color: #FEAF30;
    --text-color: #22283D;
    
    --scrollbar-1: rgba(245, 244, 242, 0.5);
    --scrollbar-2: rgba(34, 40, 61, 0.5);

    --shadow: rgba(0, 0, 0, 0.5);
    
    --stylistic-font: "Mr De Haviland", cursive;
    --header-font: "Gorditas", cursive;
    --body-font: "Cutive", cursive;

    --bg-image: url('../img/microsoft-bing-logo-1749476115-light.png');
}

.dark-theme {
    --background-color: #22283D;
    --background-color-2: #F6F5F4;
    --main-color: #FEAF30;
    --accent-color: #007FC6;
    --text-color: #F6F5F4;

    --scrollbar-1: rgba(34, 40, 61, 0.5);
    --scrollbar-2: rgba(245, 244, 242, 0.5);
    

    --bg-image: url('../img/microsoft-bing-logo-1749476115-dark-2.png');
}

.shadowed-main {
    box-shadow: 0px 0px 5px 0px var(--shadow);
}

.shadowed-alt {
    box-shadow: 0px 0px 5px 0px var(--shadow);
}

.background {
    background-color: var(--background-color);
    /*background-image: url('../img/microsoft-bing-logo-1749476115.png');*/
    
    /*background-repeat: repeat;*/
    /*background-size: 4vh;*/

    background-image:
            var(--bg-image),
            var(--bg-image),
            var(--bg-image),
            var(--bg-image),
            var(--bg-image),
            var(--bg-image),
            var(--bg-image),
            var(--bg-image),
            var(--bg-image),
            var(--bg-image);
    background-position:
            0 0,
            10vw 5vh,
            20vw 10vh,
            30vw 15vh,
            40vw 20vh,
            50vw 25vh,
            60vw 30vh,
            70vw 35vh,
            80vw 40vh,
            90vw 45vh,
            100vw 50vh;
    background-repeat: repeat-y;
    background-size: 11vw 11vh;

    /*background-size: cover; !* Ensures the image covers the entire div *!*/
    /*background-repeat: no-repeat; !* Prevents the image from repeating *!*/
    
    
    width: 100vw;
    height: auto; /* Sets the height to 100% of the viewport height */

    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
}


.sideBar {
    width: 35vw;
}

.mainBody {
    margin: 3vh 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color-2);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    width: 50vw;
    height: 94vh;
    
    min-width: 400px;
    
    flex-shrink: 0;
    
    border-radius: 30px;

    padding-left: 5%;
    padding-right: 5%;
    /*padding-top: 3vh;*/
    overflow: hidden;
}

.mainBody>* {
    margin: 0px 0;
}

.mainImage {
    width: 40%;
    height: auto;
    border-radius: 50%;
    margin: 0;
}

.headerText {
    color: var(--accent-color);
    /*color: #E7AE4F;*/
    /*font-family: "Playwrite CA", cursive, serif;*/
    font-family: var(--stylistic-font), serif;
    margin: 10px 0px;
}

.title {
    font-size: 4em;
    margin: 5vh 0;
    text-align: center;
}

.mainText {
    text-align: center;
    /*font-family: "Playwrite CA", cursive, serif;*/
    font-family: var(--stylistic-font), serif;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--accent-color);
}

.searchBox {
    flex-shrink: 0;
    width: 70%;
    font-family: var(--header-font), serif;
    font-size: 1.5em;
    
    
    height: 1.3em;
    resize: none;
    
    border: hidden;
    
    border-radius: 15px;
    padding: 0 10px;
    
    margin-bottom: 5px;
}

.searchResults {
    width: 90%;
    margin: 2.5vh 0;
    
    background-color: var(--background-color);
    
    padding: 0 5%;
    
    border-radius: 20px;
    
    min-height: 100px;
    
}


.searchResults > p {
    /*font-family: "Linotype-Didot-Pro-Bold-Italic", serif;*/
    font-family: var(--body-font), serif;
    
    color: var(--text-color);
}

.searchResults > p > a {
    /*color: #bbeafa;    */
    color: var(--main-color);    
    
    /*font-family: "Linotype-Didot-Pro-Bold-Italic", serif;*/
    font-family: var(--body-font), serif;
}

.searchResults > p > a:active {
    color: mediumpurple;    
}
.searchResults > p > a:hover {
    color: mediumpurple;    
}

.imageResult {
    width: 20vh;
    height: auto;
    margin: 10px 10px;
}

ul {
    display: flex;
    flex-direction: row;
    align-content:  center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    /*font-family: "Linotype-Didot-Pro-Bold-Italic", serif;*/
    font-family: var(--header-font), serif;
    /*font-weight: bold;*/
}

button {
    background-color: var(--main-color);
    border: 5px solid var(--main-color);
    border-radius: 10px;
    font-family: inherit;
    
    color: var(--background-color);
    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

